parameters:
	ignoreErrors:
		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: lib/simple_saml/Metadata.php

		-
			message: "#^Access to an undefined property REDAXO\\\\Simple_SAML\\\\Modules\\\\AbstractModule\\:\\:\\$data\\.$#"
			count: 3
			path: lib/simple_saml/Modules/AbstractModule.php

		-
			message: "#^Access to an undefined property REDAXO\\\\Simple_SAML\\\\Modules\\\\YCom\\:\\:\\$data\\.$#"
			count: 3
			path: lib/simple_saml/Modules/YCom.php

		-
			message: "#^Call to static method getMe\\(\\) on an unknown class rex_ycom_user\\.$#"
			count: 5
			path: lib/simple_saml/Modules/YCom.php

		-
			message: "#^PHPDoc tag @var for variable \\$user contains unknown class rex_yform_manager_dataset\\.$#"
			count: 1
			path: lib/simple_saml/Modules/YCom.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: lib/simple_saml/Modules/YCom.php

		-
			message: "#^Call to method getValue\\(\\) on an unknown class rex_yform_manager_dataset\\.$#"
			count: 7
			path: lib/simple_saml/Modules/YCom.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 7
			path: lib/simple_saml/Modules/YCom.php

		-
			message: "#^Call to method getRelatedCollection\\(\\) on an unknown class rex_yform_manager_dataset\\.$#"
			count: 1
			path: lib/simple_saml/Modules/YCom.php

		-
			message: "#^Parameter \\#2 \\$prefix of function http_build_query expects string, null given\\.$#"
			count: 1
			path: lib/simple_saml/Modules/YCom.php

		-
			message: "#^Call to static method getFullUrlByArticleId\\(\\) on an unknown class rex_yrewrite\\.$#"
			count: 1
			path: lib/simple_saml/Modules/YCom.php

		-
			message: "#^Static property REDAXO\\\\Simple_SAML\\\\Simple_SAML\\:\\:\\$request \\(GuzzleHttp\\\\Psr7\\\\ServerRequest\\) does not accept Psr\\\\Http\\\\Message\\\\ServerRequestInterface\\.$#"
			count: 1
			path: lib/simple_saml/Simple_SAML.php

		-
			message: "#^Call to static method logException\\(\\) on an unknown class REDAXO\\\\Simple_SAML\\\\rex_logger\\.$#"
			count: 1
			path: lib/simple_saml/Simple_SAML.php

		-
			message: "#^Parameter \\#1 \\$singleLogoutService of method LightSaml\\\\Model\\\\Metadata\\\\SSODescriptor\\:\\:addSingleLogoutService\\(\\) expects LightSaml\\\\Model\\\\Metadata\\\\SingleLogoutService, LightSaml\\\\Model\\\\Metadata\\\\Endpoint given\\.$#"
			count: 1
			path: lib/simple_saml/Simple_SAML.php

		-
			message: "#^Parameter \\#1 \\$singleSignOnService of method LightSaml\\\\Model\\\\Metadata\\\\IdpSsoDescriptor\\:\\:addSingleSignOnService\\(\\) expects LightSaml\\\\Model\\\\Metadata\\\\SingleSignOnService, LightSaml\\\\Model\\\\Metadata\\\\Endpoint given\\.$#"
			count: 1
			path: lib/simple_saml/Simple_SAML.php

		-
			message: "#^Call to an undefined method LightSaml\\\\Model\\\\Protocol\\\\SamlMessage\\:\\:setStatus\\(\\)\\.$#"
			count: 1
			path: lib/simple_saml/Simple_SAML.php

		-
			message: "#^Parameter \\#1 \\$notOnOrAfter of method LightSaml\\\\Model\\\\Assertion\\\\Conditions\\:\\:setNotOnOrAfter\\(\\) expects int\\|null, DateTime given\\.$#"
			count: 1
			path: lib/simple_saml/Simple_SAML.php

